/* AlloyTimer By Kinvix 2012 */

::-webkit-scrollbar-track-piece {
	background:#f5f5f5;
	border-left:1px solid #d2d2d2;
}
::-webkit-scrollbar {
	width:13px;
	height:13px;
}
::-webkit-scrollbar-thumb {
	background:#c2c2c2;
	background-clip:padding-box;
	border:1px solid #979797;
	min-height:28px;


}
::-webkit-scrollbar-thumb:hover {
	border:1px solid #636363;
	background:#929292;
}




body{
	font-family: Tahoma, Arial, "MS Trebuchet", sans-serif;
	font-size:14px;
}
input {
	display: block;
	margin:10px auto;
}
button{
	display: block;
	margin:10px auto;
}
label{
	display: block;
	margin:10px auto;
}


#title{
	margin:10px auto;
	width:500px;
	text-align:center;
	font-size:60px;
}
#remainTime{
	text-align:center;
	font-size:180px;
}
#progressBarBorder,
#progressBar{

	width:500px;
	height:15px;
	overflow: hidden;
	
}
#progressBarBorder{
	display: block;
	margin:10px auto;
	border:1px solid #fff;
	box-shadow:1px 1px 15px #000;

}
#progressBar{
	background:blue;
}
#control{
	margin:10px auto;
	width:500px;
}


.taskLeave{
	background:yellow;
}

.taskDone{
	background:blue;
}
.taskStop{
	background:red;
}

.copyright{
	margin: 50px auto;
	text-align:center;
}